html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#panel {
    position: absolute;
}

#panel * {
    display: inline;
}

#menu {
    width: 10em;
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style-type: none;
    padding: .25em;
}

#menu li:hover, #menu li[active='true'] {
    background-color: #DDD;
}
