html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#panel {
    position: absolute;
}

#panel * {
}

#panel button {
    margin: .75em;
    padding: .2em .4em;
    font-size: 20px;
}

#menu {
    width: 10em;
    border-right: 2px #DDD dashed;
    background-color: #EEE;
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style-type: none;
    padding: .25em;
}

#menu li:hover, #menu li[active='true'] {
    background-color: #BBB;
}
